*{
    box-sizing: content-box; 
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #424242;
}

h1{
    margin: 0;
    padding: 0;
    display: none;
    text-align: center;
}

h2{
    margin: 10px 0;
    padding: 10px 0;

    font-size: 22px;
    font-weight: 300;
    text-align: center;
}

h3{
    margin: 10px 0;
    padding: 10px 0 40px 0;

    text-align: center;
    font-size: 38px;
    font-weight: 300;
}

h4{
    margin: 10px 0 30px 0;
    padding: 0;
}

section{
    padding: 40px 0 60px 0;
}

div{
    text-align: center;
}

p{
    text-align: left;
}

input{
    padding: 20px;
    margin: 0 0 10px;
    display: block;
    width: 100%;
    font-family: inherit;
}

input[type="email"]{
    color: inherit;
}

input[type="submit"]{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #29bc7d;
    border-radius: 5px;
    background-color: #29bc7d;
    color: #FFF;
}

input[type="submit"]:hover{
    color: #29bc7d;
    border: 2px solid #29bc7d;
    background-color: #FFF;
    transition: background-color 0.3s ease-out;
}

p{
    padding: 0 0 10px 0;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}

.intro-imagem{
    margin-right: 30px;
    width: 50%;
    max-width: 250px;
    height: 380px;
    background:rgba(0,0,0,0.3); 
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-cadastro{
    width: 50%;
    max-width: 300px;
}

.features{
    padding-top: 60px;
    background-color: #68efad;
}

.itens-item{
    max-width: 300px;
    text-align: center;
}

.itens-item img{
    /*border: 3px solid #FFF;*/
    border-radius: 50px;
    padding: 5px;
    width: 50px;
    background-color: #FFF;
}
.itens-item p{
    text-align: left;
    /*margin: 0 auto;*/
}

.download img:first-child{
    margin-right:20px;
}

.download img{
    width: 180px;
}

footer{
    padding: 40px 0 60px 0;
    background-color: #29bc7d;
    color: #FFF;
    position: relative;
}

legend{
    padding-top: 10px;
    font-size: 14px;
    color: #FFF;
}

@media screen and (max-width:768px){

    section{
        padding: 20px 0 40px 0;
    }

    h1{
        display: block;
    }

    h3{
        margin: 10px 0;
        padding: 10px 0 10px 0;
        font-size: 30px;
    }

    .container{
        margin: 0 auto;
        width: 80%;
    }

    .intro-imagem{
        display: none;
        /*margin-right: 30px;
        width: 50%;
        max-width: 250px;
        height: 380px;*/
    }

    input{
        padding: 20px;
        margin: 0 0 10px 0;
        display: inline;
        width: 80%;
        font-family: inherit;
    }

    .intro-cadastro{
        width: 100%;
        max-width: 100%;
    }

    .logo{
        display: none;
    }
}